<!DOCTYPE html>
<html lang="uz">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EduHome - Ta'limda Akademik Yutuqlar</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'favicon.svg' %}" type="image/svg+xml">

  <!-- CSS fayllar -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">



  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap" rel="stylesheet">

  <!-- Preload rasmlar -->
  <link rel="preload" as="image" href="{% static 'assets/images/hero-banner.png' %}">
  <link rel="preload" as="image" href="{% static 'assets/images/hero-abs-1.png' %}" media="min-width(768px)">
  <link rel="preload" as="image" href="{% static 'assets/images/hero-abs-2.png' %}" media="min-width(768px)">
  {% block extra_css %}{% endblock %}
</head>

<body id="top">

  {% include 'navbar.html' %}

  <main>
    {% block content %}
    {% endblock %}
  </main>

  {% include 'footer.html' %}


  {% block extra_js %}

  {% endblock %}
  <!-- Back to top tugmasi -->
  <a href="#top" class="back-top-btn" aria-label="Yuqoriga qaytish" data-back-top-btn>
    <ion-icon name="arrow-up"></ion-icon>
  </a>

  <!-- JavaScript fayllar -->
  <script src="{% static 'assets/js/script.js' %}" defer></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>