{% extends 'base.html' %}

{% load static %}
{% block content %}
<article>
  <!-- Hero qismi -->
  <section class="hero" id="home" aria-label="hero" style="background-image: url('')">
    <div class="container">
      <div class="hero-content">
        <p class="section-subtitle">Yaxshiroq ta'lim kelajagi biz bilan</p>
        <h2 class="h1 hero-title">Ta'lim - Bu Akademik Yutuqlardir</h2>
        <p class="hero-text">
          Biz bilan birga yangi bilimlar oling va professional mahoratingizni oshiring. 
          Har qanday darajadagi bilimlar uchun kurslarimiz mavjud.
        </p>
        <a href="#" class="btn btn-primary">
          <span class="span">Hoziroq boshlang</span>
          <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
        </a>
      </div>

      <figure class="hero-banner">
        <img src="{% static 'assets/images/hero-banner.png' %}" width="500" height="500" loading="lazy" alt="hero image" class="w-100">
        <img src="{% static 'assets/images/hero-abs-1.png' %}" width="318" height="352" loading="lazy" aria-hidden="true" class="abs-img abs-img-1">
        <img src="{% static 'assets/images/hero-abs-2.png' %}" width="160" height="160" loading="lazy" aria-hidden="true" class="abs-img abs-img-2">
      </figure>
    </div>
  </section>

  <!-- Kurs kategoriyalari -->
  <section class="section category" aria-label="category">
    <div class="container">
      <p class="section-subtitle">Kurs Kategoriyalari</p>
      <h2 class="h2 section-title">O'rganish uchun mashhur mavzular</h2>

      <ul class="grid-list">
        <li>
          <div class="category-card">
            <div class="card-icon">
              <ion-icon name="briefcase-outline"></ion-icon>
            </div>
            <div>
              <h3 class="h3 card-title">
                <a href="#">Shaxsiy rivojlanish</a>
              </h3>
              <span class="card-meta">39 ta kurs</span>
            </div>
          </div>
        </li>
        
        <!-- Qolgan kategoriyalar shu tarzda qo'shiladi -->
        <li>
          <div class="category-card">
            <div class="card-icon">
              <ion-icon name="laptop-outline"></ion-icon>
            </div>
            <div>
              <h3 class="h3 card-title">
                <a href="#">Veb dasturlash</a>
              </h3>
              <span class="card-meta">28 ta kurs</span>
            </div>
          </div>
        </li>
        
        <li>
          <div class="category-card">
            <div class="card-icon">
              <ion-icon name="server-outline"></ion-icon>
            </div>
            <div>
              <h3 class="h3 card-title">
                <a href="#">Ma'lumotlar tahlili</a>
              </h3>
              <span class="card-meta">15 ta kurs</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <!-- Biz haqimizda -->
  <section class="section about" id="about" aria-label="about">
    <div class="container">
      <figure class="about-banner">
        <img src="{% static 'assets/images/about-banner.jpg' %}" width="450" height="590" loading="lazy" alt="about banner" class="w-100 about-img">
        <img src="{% static 'assets/images/about-abs-1.jpg' %}" width="188" height="242" loading="lazy" aria-hidden="true" class="abs-img abs-img-1">
        <img src="{% static 'assets/images/about-abs-2.jpg' %}" width="150" height="200" loading="lazy" aria-hidden="true" class="abs-img abs-img-2">
      </figure>

      <div class="about-content">
        <p class="section-subtitle">Biz kimiz?</p>
        <h2 class="h2 section-title">Biz Eng Yaxshi Kasblarni Taklif Etamiz</h2>

        <ul class="about-list">
          <li class="about-item">
            <div class="item-icon item-icon-1">
              <img src="{% static 'assets/images/about-icon-1.png' %}" width="30" height="30" loading="lazy" aria-hidden="true">
            </div>
            <div>
              <h3 class="h3 item-title">Tajribali O'qituvchilar</h3>
              <p class="item-text">
                Bizning o'qituvchilarimiz o'z sohalarining yetakchi mutaxassislari bo'lib, sizga eng yaxshi bilimlarni berishga tayyor.
              </p>
            </div>
          </li>
          
          <!-- Qolgan afzalliklar shu tarzda qo'shiladi -->
        </ul>

        <a href="#" class="btn btn-primary">
          <span class="span">Biz haqimizda batafsil</span>
          <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
        </a>
      </div>
    </div>
  </section>

  <!-- Mashhur kurslar -->
  <section class="section course" id="courses" aria-label="course" >
    <div class="container">
      <p class="section-subtitle">Mashhur Kurslar</p>
      <h2 class="h2 section-title">Bizning Mashhur Kurslarimiz</h2>

      <ul class="grid-list">
        {% for course in courses %}
        <li>
          <div class="course-card">
            <figure class="card-banner">
              <img src="{{course.image.url}}" width="370" height="270" loading="lazy" alt="Python dasturlash kursi" class="img-cover">
            </figure>
            <div class="card-actions">
              <span class="badge">Boshlang'ich</span>
              <button class="whishlist-btn" aria-label="Sevimlilarga qo'shish" data-whish-btn>
                <ion-icon name="heart"></ion-icon>
              </button>
            </div>
            <div class="card-content">
              <ul class="card-meta-list">
                <li class="card-meta-item">
                  <ion-icon name="reader-outline" aria-hidden="true"></ion-icon>
                  <span class="card-meta-text">35 ta dars</span>
                </li>
                <li class="card-meta-item">
                  <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                  <time datetime="PT18H15M44S" class="card-meta-text">18h 15m</time>
                </li>
              </ul>
              <h3 class="h3">
                <a href="{{ course.get_absolute_url }}" class="card-title">{{course.title}}</a>
              </h3>
              <div class="rating-wrapper">
                <div class="rating">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-half"></ion-icon>
                </div>
                <span class="rating-text">(48 sharh)</span>
              </div>
              <div class="card-footer">
                <div class="card-meta-item">
                  <ion-icon name="people-outline" aria-hidden="true"></ion-icon>
                  <span class="card-meta-text">124 o'quvchi</span>
                </div>
              </div>
            </div>
          </div>
        </li>
        {% endfor%}
        
        
        <!-- Qolgan kurslar shu tarzda qo'shiladi -->
      </ul>

      <a href="#" class="btn btn-primary">
        <span class="span">Barcha kurslarni ko'rish</span>
        <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
      </a>
    </div>
  </section>

  <!-- Workshop -->
  <section class="section cta" aria-label="workshop">
    <div class="container">
      <figure class="cta-banner">
        <img src="{% static 'assets/images/cta-banner.jpg' %}" width="580" height="380" loading="lazy" alt="workshop banner" class="img-cover">
      </figure>
      <div class="cta-content">
        <p class="section-subtitle">Bepul Workshop</p>
        <h2 class="h2 section-title">Bizning Bepul Workshoplarimizga Qo'shiling</h2>
        <p class="section-text">
          Har oy o'tkaziladigan bepul workshoplarimizda qatnashib, yangi bilimlar oling va mutaxassislar bilan suhbatlashish imkoniyatiga ega bo'ling.
        </p>
        <a href="#" class="btn btn-secondary">
          <span class="span">Yaqin workshoplar</span>
          <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
        </a>
      </div>
    </div>
  </section>

  <!-- Tadbirlar -->
  <section class="section event" id="event" aria-label="event">
    <div class="container">
      <p class="section-subtitle">Yaqin Tadbirlar</p>
      <h2 class="h2 section-title">Jamoamizga Qo'shiling</h2>

      <ul class="grid-list">
        <li>
          <div class="event-card">
            <figure class="card-banner">
              <img src="{% static 'assets/images/event-1.jpg' %}" width="370" height="250" loading="lazy" alt="Dasturlash bo'yicha seminar" class="img-cover">
            </figure>
            <time class="badge" datetime="2023-06-15">15 Iyun 2023</time>
            <div class="card-content">
              <address class="card-address">
                <ion-icon name="location-outline" aria-hidden="true"></ion-icon>
                <span class="span">Toshkent shahri, Yunusobod tumani</span>
              </address>
              <h3 class="h3">
                <a href="#" class="card-title">Dasturlash bo'yicha katta seminar</a>
              </h3>
              <a href="#" class="btn-link">
                <span class="span">Chipta olish</span>
                <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
              </a>
            </div>
          </div>
        </li>
        
        <!-- Qolgan tadbirlar shu tarzda qo'shiladi -->
      </ul>
    </div>
  </section>

  <!-- Yangiliklar obunasi -->
  <section class="section newsletter" aria-label="newsletter">
    <div class="container">
      <p class="section-subtitle">Yangiliklarga Obuna Bo'ling</p>
      <h2 class="h2 section-title">Eng So'nggi Yangiliklarni Oling</h2>
      <form action="" class="newsletter-form">
        <div class="input-wrapper">
          <input type="email" name="email_address" aria-label="email" placeholder="Elektron pochtangizni kiriting" required class="email-field">
          <ion-icon name="mail-open-outline" aria-hidden="true"></ion-icon>
        </div>
        <button type="submit" class="btn btn-primary">
          <span class="span">Obuna bo'lish</span>
          <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
        </button>
      </form>
    </div>
  </section>
</article>
{% endblock %}